DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=prathamreehal
DB_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=transactions

MODEL_PATH=/Users/prathamreehal/Desktop/real_time_fraud_detection/app/ml/fraud_detection_pipeline.pkl

API_V1_PREFIX=/api/v1
PROJECT_NAME=Fraud Detection API
DEBUG=True
